
.dropmenuu{
  margin-left: -1em;
}
.dropmenuu ul{
  list-style-type: none;
  padding: 0;
  background-color: #dedede;
  border: 3px solid black;
}

.link-red{
  margin-left: 30px;
}
.link-red2{
  margin-left: 8px;
}
.dropmenuu ul li{
  display: inline;
  position: relative;

}
.dropmenuu ul li a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  transition: background .3s;
  box-shadow: black;
}

.pessoal-hover{

 background-color: #c2c2c2;
  
}
.dropmenuu ul li a:hover{

  background-color: #c2c2c2;
  transition: .3s;

}

.dropmenuu ul ul{
  display: none;
  position: absolute;
  left: 0;
}
.dropmenuu ul li:hover ul{
  display: block;
  
}
.dropmenuu ul ul{
  width: 140px;
  font-size: 15px;
}
.dropmenuu ul ul li a{
  display: block;
}

#drop1{
  position: static;
  margin-top: -4.5px;
  height: 40px;
  line-height: 30px;
}